* {
  box-sizing: border-box;
}

.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  float: right;
  .main-header{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    &__left-box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333333;
        padding-left: 40px;
        
        .main-header__left-box__member-list{
          font-size: 12px;
          color: #999999;
          padding-top: 15px;
          
          &__member{

          }

        }

      }
      

    }
    .main-header__edit-btn{
      height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      line-height: 40px;
      right: 40px;
      position: absolute;
      a{
        color: #38aef0;
        text-decoration: none;
      }
    }

    
  }
  .messages{
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 40px;

      &__upper-info{
        display: flex;
        margin-bottom: 10px;

        &__talker{
          font-size: 16px;
          color: #434A54;
          font-weight: bold;

        }
        &__date{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;

        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
        margin-bottom: 10px;

      }
    }
  }
  .new_message{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    .field_with_errors{
      display: flex;
      position: relative;
      width: 100%;
      &__left{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        line-height: 50px;
        color: #434a54;
        border-style: none;
        background-color: white;
      }
      &__image{

        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        .field_with_errors__hide{
          display: none;
        }
      }
    }
    .field_with_errors__submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
      line-height: 50px;
    }      
  }
}

.chat-side{
  width: 300px;
  height: 100vh;
  float: left;
  .side-header{
    height: 100px;
    width: 300px;
    background-color: #253141;
    align-items: center; 
    display: flex;
    padding: 0px 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 260px;
      font-weight: bold;
      background-color: #253141;
      &__user-name{
        color: white;
        font-size: 16px;
      }
      &__menu{
        width: 60px;
        display: flex;
        justify-content: flex-end;
    
        &__new-group{
          a{
            color: white;
          }
          
        }
        &__edit-user{
          a{
            color: white;
          }
          margin-left: 5px;

        }
      }
    }
  }
  .groups{
    background-color: #2f3e51;
    height :calc(100vh - 100px);
    width: 300px;
    overflow: scroll;
    a{
      text-decoration: none;
      .group{
        height: 81px;
        &__group-name{
          color: white;
          font-size: 15px;
          padding: 20px 20px 5px;
        }
        &__latest-message{
          color: white;
          font-size: 11px;
          padding: 0 20px 40px; 
        }
      }
    }
  }
}

